#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem 13rem;
}

body {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1D0736;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
  font-size: 20.8;
}

li {
  padding: 1rem;
}

/* For Login hide password text */
small {
  color: rgb(98, 98, 98);
  margin: 0px 7px 0px 48px;
}

/* For Home page */
.home-page-submission {
  display: flex;
  justify-content: space-around;
}

/* For Home page */
.home-page-submission-left {
  display: flex;
}

/* For Home page */
.home-page-submission-right {
  display: flex;
}

/* For Submit Location page */
.submit-location-title{
  text-align: center;
}

/* For Submit Location page */
.review-card-home-page {
  background-color: #F2F5F5;
  padding: 42px 42px;
  margin: 1.6rem 0rem;
  border-radius: 32px;
}

/* For Submit Location page */
.review-card-home-page-scroll {
  height: 700px;
  overflow-y: auto;
}

/* For Submission page */
.user-reviewText {
  margin: 5px 5px;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #d8d8d8;
  background-color: white;
  overflow-y: auto;
}

/* For submission page */
.user-review-rating {
  text-align: center;
  margin-top: 0px;
  margin-bottom: -5px;
}

/* For submission page */
.user-review-username-title {
  text-align:center;
  margin: 1rem 10rem .25rem 10rem;
  border: dashed;
  border-width: .05px;
  border-radius: 25px;
  border-color: #aaaaaa;
  background-color: white;
}

.text-input-field {
  width: 447px;
}

.gray-text {
  color: #6B737D;
}

.gray-text-edit {
  font-size: 10px;
  color: #6B737D;
  padding-top: 10px;
}

.submission-details-container {
  margin: 1.6rem 0rem;
  display: flex;
}

.submission-details {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submission-average-rating {
  display: flex;
  margin-top: 28px;
}

.submission-description {
  margin-top: 28px;
}

.review-card {
  background-color: #F2F5F5;
  padding: 42px 42px;
  margin: 1.6rem 0rem;
  border-radius: 32px;
}

/* For Submit Location page */
.review-card-new-submission {
  background-color: #F2F5F5;
  padding: 42px 42px;
  /* margin: 1.6rem; */
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  max-width: 527px;
  min-width: 527px;
  border-radius: 32px;
}

/* For submission page */
.review-card-submission-page {
  background-color: #F2F5F5;
  padding: 42px 42px;
  margin: 1.6rem 0rem;
  min-width: 725px;
  max-width: 725px;
  border-radius: 32px;
}

/* For Profile page */
.review-card-favorites {
  background-color: #F2F5F5;
  padding: 45px 45px;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  min-width: 575px;
  border-radius: 32px;
  display: flex;
  flex-direction: column; 
  max-height: 450px;
}

/* For Submission page */
.review-card-for-reviews {
  background-color: #F2F5F5;
  border-left: dotted;
  border-right: dotted;
  border-top-style: double;
  border-top-style: double;
  border-width: 2px;
  border-color: #cacaca;
}

/* For Submission page */
.submitted-date-in-reviews {
  margin: 0rem 12rem;
}

.review-header-container {
  display: flex;
  justify-content: space-between;
}

.review-card-header {
  background-color: #F2F5F5;
  padding-bottom: 1rem;
}

.review-card-content {
  flex: 1;
  overflow-y: auto;
}

/* For Submission page */
.review-card-content-for-reviews {
  height: 400px;
  overflow-y: auto;
}


#logoimg {
  padding: .6rem;
}

.navbar {
  background: linear-gradient(to right, #4C206E, #683287);
}

.navbar {
  color: white;
}

.navbar-button {
  color: #683287;
  font-weight: 600;
  background-color: white;
  padding: 10px 24px;
  border-radius: 100px;
}

.navbar-button:active {
  background-color: #F2F5F5;
}

/* Trying to change color of NavLink in nav bar; text to white and remove underline */
.nav-item {
  color: white;
  text-decoration: none
}

button {
  color: white;
  font-weight: 600;
  background-color: #8648A3;
  margin: .25rem;
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 1px .25rem #6B737D;
}

button:hover {
  box-shadow: 1px 1px .25rem #6B737D;
}

button:active {
  background-color: #683287;
}

/* For Login and Registration pages */
.submit-button {
  color: white;
  font-weight: 600;
  background-color: #8648A3;
  margin: .25rem;
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 1px .25rem #6B737D;
}

/* For Login and Registration pages */
.submit-button:hover {
  box-shadow: 1px 1px .25rem #6B737D;
}

/* For Login and Registration pages */
.submit-button:active {
  background-color: #683287;
}

/* For Delete and Cancel buttons in Profile page */
.delete-button {
  color: white;
  font-weight: 600;
  background-color: #ac5252;
  margin: .25rem;
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 1px .25rem #6B737D;
}

.delete-button:hover {
  box-shadow: 1px 1px .25rem #6B737D;
}

.delete-button:active {
  background-color: #873232;
}

.profileImg {
  border: solid;
  border-width: 1px;
  border-radius: 100%;
  border-color: #e0e0e0;
  margin-top: 8px;
}

/* Google Maps div display */
#map {
  height: 100%;
}

/* Search form CSS */
.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px #6B737D;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  padding: 3px 5px;
}

.dropdown-row:hover {
  background-color: #F2F5F5;
}

.dropdown-row:active {
  background-color: #6B737D;
  color: white;
}

.search-form {
  margin-bottom: 40px;
}

.badge {
  background: #622386;
  margin-top: 10px;
  margin-left: 5px;
}

/* Review stars */
.starsContainer {
  display: flex;
}

.star {
  cursor: pointer;
  transition: all 0.1s linear;
}

.star:hover {
  transform: scale(1.1);
}

.column {
  float: left;
  width: 50%;
}