#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10rem 17rem;
}

body {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #1D0736;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
  font-size: 20.8;
}

li {
  padding: 1rem;
}

/* For Login hide password text */
small {
  color: rgb(98, 98, 98);
  margin: 0px 7px 0px 48px;
}

.gray-text {
  color: #6B737D;
}

.review-card {
  background-color: #F2F5F5;
  padding: 42px 42px;
  margin: 1.6rem 0rem;
  border-radius: 32px;
}

#logoimg {
  padding: .6rem;
}

.navbar {
  background: linear-gradient(to right, #4C206E, #683287);
}

.navbar {
  color: white;
}

.navbar-button {
  color: #683287;
  font-weight: 600;
  background-color: white;
  padding: 10px 24px;
  border-radius: 100px;
}

.navbar-button:active {
  background-color: #F2F5F5;
}

/* Trying to change color of NavLink in nav bar; text to white and remove underline */
.nav-item {
  color: white;
  text-decoration: none
}

button {
  color: white;
  font-weight: 600;
  background-color: #8648A3;
  margin: .25rem;
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 1px .25rem #6B737D;
}

button:hover {
  box-shadow: 1px 1px .25rem #6B737D;
}

button:active {
  background-color: #683287;
}

/* For Login and Registration pages */
.submit-button {
  color: white;
  font-weight: 600;
  background-color: #8648A3;
  margin: .25rem;
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 1px .25rem #6B737D;
}

.submit-button:hover {
  box-shadow: 1px 1px .25rem #6B737D;
}

.submit-button:active {
  background-color: #683287;
}

/* For Delete and Cancel buttons in Profile page */
.delete-button {
  color: white;
  font-weight: 600;
  background-color: #ac5252;
  margin: .25rem;
  padding: 10px 24px;
  border-radius: 100px;
  border: none;
  box-shadow: 0px 1px .25rem #6B737D;
}

.delete-button:hover {
  box-shadow: 1px 1px .25rem #6B737D;
}

.delete-button:active {
  background-color: #873232;
}

/* Google Maps div display */
#map {
  height: 100%;
}

/* Search form CSS */
.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px #6B737D;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  padding: 3px 5px;
}

.dropdown-row:hover {
  background-color: #F2F5F5;
}

.dropdown-row:active {
  background-color: #6B737D;
  color: white;
}

.search-form {
  margin-bottom: 40px;
}

/* Review stars */
.starsContainer {
  display: flex;
}

.star {
  cursor: pointer;
  transition: all 0.1s linear;
}

.star:hover {
  transform: scale(1.1);
}

